.plant-edit__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	background: white;
	width: 50%;
	height: 50vh;
	form {
		display: flex;
		flex-direction: column;
		font-size: 1.5em;
		input {
			margin-bottom: 20px;
		}
		.plant-edit__buttons {
			display: flex;
			justify-content: center;
			align-items: center;
			button {
				height: 40px;
				width: 120px;
				font-size: 1.5em;
				border-radius: 8px;
				margin: 10px;
			}
			button:hover {
				background: chocolate;
				color: white;
			}
		}
	}
}
